@{
    ViewData["Title"] = "Hakkımda";
}

<div class="row rounded-3 py-3 d-flex flex-lg-row flex-column align-items-center mb-5">
    <div class="col-lg-2 col-12 d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column gap-2 w-100 align-items-center justify-content-center">
            <div class="responsive-pp ppholder">
                <img src="~/images/pp.jpg" alt="">
            </div>
            <span class="fs-5 theme-primary-text">Zozan Kaya</span>
        </div>
    </div>
    <!-- hakkımda kısmı -->
    <section class="row col-10 mb-5">
        <h3 class="w-100 text-md-start theme-primary-text text-center">Benim Hakkımda</h3>
        <div class="d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-center">
            <p class="theme-third-text">Benim hakkımda bilinmesi gereken aman aman bilgiler yok. Bu sebeple buraya çok
                uzun cümleler yazmayacağım. Ben Zozan Kaya henüz 17 yaşıma girmedim ama 4 ay sonra girmeyi düşünüyorum.
                Bu benim web tabanlı uygulama geliştirme dersimden aldığım projem. Bana bir kitap blog'u yapmam söylendi
                bende yaptım bu kadar.</p>
        </div>
    </section>
    <hr class="theme-secondary-text">
    <section class="py-3">
        <h3 class="theme-primary-text">Eğitim Hayatım</h3>
        <p class="theme-third-text">2015 te Gümüşsuyu İlkokuluna başladım ve 2019'da mezun oldum. Yine 2019 da Eyüp
            Sultan Merkez Ortaokuluna başladım ve 2022'de oradan da mezun oldum. 2022 de Şişli Mesleki Ve Teknik Anadolu
            Lisesine girdim ve yıl 2025 hala burada 11. sınıf Bilişim Teknolojileri sınıfı öğrencisiyim.</p>
    </section>
    <hr class="theme-secondary-text">
    <section class="py-3">
        <h3 class="theme-primary-text">İlgi Alanlarım Ve Hobilerim</h3>
        <p class="theme-third-text">Hobilerim konusunda biraz konuşabilirim evet. Spora biraz fazla düşkünümdür. 2014 te
            annemin beni yüzme salonuna göndermesiyle spor hayatım başladı. yaklaşık 3 yıl yüzücülük yapıp lisans alma
            derecesine kadar yükseldikten sonra bu sporu bıraktım, çünkü yüzmeyi sevmiyordum ve ne kadar başarılı olsam
            da hoşuma giden, hayallerimdeki spor bu değildi. yüzücülüğü bıraktıktan sonra 2017 den 1019 a kadar tekvando
            sporunu yaptım ve kırmızı kuşağa kadar yükseldim ve lisans alarak il içinde maçlara çıktım. Daha
            sonrasında bu sporunda bana göre olmadığına varıp bu sporu da bıraktım. 2019 dan 2020 ye kadar ara verdim ve
            sporu bir süreliğine bıraktım. Hayatımda bir heyecan olmadığından yaklaşık 5 ay boyunca farklı sporlara
            baktım, tanıdım ve öğrendim sonrasında boks sporuna başladım ve tam olarak bana göre olan spor dalını
            buldum. O zamandan beri bu sporla ilgileniyorum. Spor dışında hobilerimde var tabii. Ata binmeyi çok severim
            profesyonel olarak olmasa da küçüklüğümden beri sürekli at binmeye giderim. Onun dışında poligona gitmeyi ve
            silahları deneyimlemeye de bayılırım. Fakat hiç vazgeçemediğim tek hobim kitap okumaktır. Bu nedenle bu
            blog'u yaptım ve insanların buradan yararlanmasını sağladım.

        </p>
    </section>
</div>
<hr class="theme-secondary-text">
<section class="d-flex flex-column gap-2 align-items-center justify-content-center py-4">
    <h3>Galeri</h3>
    <div class="d-flex flex-wrap align-items-center w-100 justify-content-between">
        <div class="w-25 h-25">
            <img src="https://picsum.photos/id/588/500/500" alt="" class="img-thumbnail">
        </div>
        <div class="w-25 h-25">
            <img src="https://picsum.photos/id/721/500/500" alt="" class="img-thumbnail">
        </div>
        <div class="w-25 h-25">
            <img src="https://picsum.photos/id/723/500/500" alt="" class="img-thumbnail">
        </div>
        <div class="w-25 h-25">
            <img src="https://picsum.photos/id/525/500/500" alt="" class="img-thumbnail">
        </div>
    </div>
</section>
<hr class="theme-secondary-text">